
.light{
    width: 8rem;
    height: 8rem;

    border: .5rem solid var(--white-01);
    border-radius: 50%;
    
    transition: .7s;
}

.light--red{
    background-color: var(--red);
}

.light--yellow{
    background-color: var(--yellow);
}

.light--green{
    background-color: var(--green);
}

.light--turn-off{
    box-shadow: inset 0 0 0 5rem var(--black-03);
}

:not(.light--turn-off){
    z-index: 1;
}

.light--red:not(.light--turn-off){
    box-shadow: 0 0 2rem 1rem var(--red);
}

.light--yellow:not(.light--turn-off){
    box-shadow: 0 0 2rem 1rem var(--yellow);
}

.light--green:not(.light--turn-off){
    box-shadow: 0 0 2rem 1rem var(--green);
}